/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-hue: 250;
    --second-hue: 219;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.main{
  overflow: hidden;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*==================== NAV ====================*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__logo:hover{
  color: var(--first-color-alt);
}

.nav__menu{
  position: fixed;
  bottom: 1rem;
  background-color: var(--text-color-lighten);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
}

.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link{
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link{
  background-color: var(--first-color);
  color: #fff;
}

/* Change background header */


/*==================== HOME ====================*/
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__data{
  grid-column: 1/3;
}

/* .home__img{

} */

.home__title{
  font-size: var(--h1-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  mask-border-repeat: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__button,
.home__button-small{
  display: flex;
  align-items: center;
}

.home__button{
  column-gap: 1rem;
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/
.button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 1.15rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button i{
  font-size: 1.25rem;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem;
  box-shadow: none;
}

.button__gray{
  background-color: var(--text-color-lighten);
  color: var(--text-color);
}

.button__gray:hover{
  background-color: var(--text-color-light);
}

/*==================== SKILLS ====================*/
.skills__container{
  row-gap: 0;
}

.skills__header{
  display:flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}

.skills__html,
.skills__xd,
.skills__cht,
.skills__hts{
  width: 80%;
}

.skills__css,
.skills__php,
.skills__figma{
  width: 70%;
}

.skills__js,
.skills__python,
.skills__photoshop,
.skills__ad{
  width: 60%;
}

.skills__vue,
.skills__asp{
  width: 50%;
}

.skills__laravel{
  width: 65%;
}

.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.filters__button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

.filters__button:hover{
  background-color: var(--body-color);
  color: var(--first-color);;
}

.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.filters__content{
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-light);
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

/* Hide and show education & experience */
.filters [data-content]{
  display: none;
}

.filters__active[data-content]{
  display: grid;
}

/* Activate button filter */
.filter-tab-active{
  background-color: var(--body-color);
}

/*==================== PORTFOLIO ====================*/
.portfolio__container{
  padding-top: 1rem;
}

.portfolio__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.portfolio__item{
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}

.portfolio__card{
  background-color: var(--text-color-light);
  padding: 1rem;
  border-radius: 1rem;
}

.portfolio__img{
  border-radius: 1rem;
  margin-bottom: .75rem;
}

.portfolio__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
  color: var(--body-color);
}

.portfolio__button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.portfolio__button:hover .portfolio__icon{
  transform: translateX(.25rem);
}

.portfolio__icon{
  font-size: 1rem;
  transition: .4s;
}

/* Active item work */
.active-portfolio{
  background-color: var(--first-color);
  color: var(--body-color);
}

/*==================== TESTIMONIAL ====================*/


/*==================== FOOTER ====================*/
.footer{
  background-color: var(--first-color);
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
  color: var(--body-color);
}

.footer__title{
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: var(--mb-3);
  margin-bottom: var(--mb-2);
}

.footer__copy{
  display: block;
  margin-top: 4rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  color: var(--body-color);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 5rem;
}
/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width:320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }

  .home__button{
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills__container{
    column-gap: var(--mb-1);
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  .qualification__data{
    gap: .5rem;
  }

  .portfolio__item{
    font-size: var(--small-font-size);
  }

  .portfolio__filters{
    column-gap: .25rem;
  }
}

@media screen and (min-width:280px){
  .filters__content{
    width: 232px;
    margin: 2rem auto;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .nav__menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data{
    grid-column: initial;
  }

  .home__img{
    order: 1;
    justify-content: center;
  }

  .filters__content{
    width: 332px;
    margin: 3rem auto;
  }

  .skills__container{
    grid-template-columns: repeat(2,1fr);
  }

  .qualification__sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }

  .portfolio__container{
    justify-content: center;
  }

  .portfolio__img{
    width: 295px;
  }
}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }

  .home__container{
    row-gap: 5rem;
  }

  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__scroll{
    display: block;
  }

  .home__scroll-button{
    margin-left: 3rem;
  }

  .section__subtitle{
    margin-bottom: 4rem;
  }

  .filters__content{
    justify-content: center;
  }

  .qualification__sections{
    grid-template-columns: .5fr;
  }

  .portfolio__container{
    grid-template-columns: repeat(2, max-content);
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .home__social{
    transform: translateX(-6rem);
  }

  .portfolio__container{
    gap: 3rem;
  }

  .portfolio__card{
    padding: 1.25rem;
  }

  .portfolio__img{
    margin-bottom: 1rem;
  }

  .portfolio__title{
    margin-bottom: .5rem;
  }
}